* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: $Very-LightGray;
}

img{
   max-width: 100%;
   height: auto;
   display: block;
}

ul li{
   list-style: none;
}

a{
   text-decoration: none;
}